@import "vars.scss";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500');

@font-face {
  font-family: 'fontello';
  src: url('../../assets/fonts/fontello/font/fontello.eot?34565785');
  src: url('../../assets/fonts/fontello/font/fontello.eot?34565785#iefix') format('embedded-opentype'),
  url('../../assets/fonts/fontello/font/fontello.woff?34565785') format('woff'),
  url('../../assets/fonts/fontello/font/fontello.ttf?34565785') format('truetype'),
  url('../../assets/fonts/fontello/font/fontello.svg?34565785#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  padding: 0;
  overflow: hidden;
  background-color: $contentBgColor !important;
}

#page-content-wrapper {
  min-width: 100vw;

  .container-fluid {
    padding: 25px 65px 5px 65px;
    overflow-y: scroll;
    height: calc(100vh - 65px);

    .section-title {
      margin-bottom: 2rem !important;
    }
  }
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (max-width: 768px) {

  #page-content-wrapper {
    min-width: 0;
    width: 100%;

    .container-fluid {
      padding: 25px 10px 5px 10px
    }

  }

}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;

  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}



/** form */
.form-control {

  border: 1px solid $primaryColor !important;
  border-radius: 2px !important;
  -webkit-border-radius: 2px !important;
  background-color: #fff !important;

  &:active {
    border: 1px solid $sidebarActiveLink !important;
    -webkit-border-radius: 1px solid $sidebarActiveLink !important;
  }

  &:focus {
    border: 1px solid $sidebarActiveLink !important;
    -webkit-border-radius: 1px solid $sidebarActiveLink !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }
}

.form-group {
  .form-text {
    width: 100%;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;

    &.is-invalid {
      color: $invalidFormColor;
    }
  }
}

.swal-modal {
  .swal-text {
    color: $primaryButtonColor;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
  }
}
/** buttons **/

.swal-button {
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  //padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.swal-button,
.btn {
  border-radius: 2px;
  font-weight: 600 !important;
  line-height: 19px !important;

  &.btn-danger {
    border: 2px solid #dc3545;

    &:hover {
      border: 2px solid #dc3545 !important;
    }

    &:active {
      border: 2px solid #dc3545 !important;
    }


    &:disabled {
      border: 2px solid #dc3545;
      opacity: 0.8;
    }
  }

  &.swal-button--yes,
  &.btn-primary {
    background-color: $primaryColor;
    border: 2px solid $primaryColor;

    &:hover {
      background-color: $activeColor !important;
      border: 2px solid $activeColor !important;
    }

    &:active {
      background-color: $activeColor !important;
      border: 2px solid $activeColor !important;
    }


    &:disabled {
      background-color: $primaryColor;
      border: 2px solid $primaryColor;
      opacity: 0.8;
    }
  }

  &.swal-button--cancel,
  &.btn-outline-primary {
    background-color: #fff;
    color: $primaryColor;
    border: 2px solid $primaryColor;

    &:hover {
      background-color: #fff !important;
      color: $activeColor !important;
      border: 2px solid $activeColor !important;
    }


    &:active {
      background-color: #fff !important;
      color: $activeColor !important;
      border: 2px solid $activeColor !important;
    }

    &:disabled {
      background-color: #fff;
      border: 2px solid $primaryColor;
      opacity: 0.8;
    }
  }

  &.btn-link {
    color: $primaryColor;

    &:hover {
      color: $activeColor;
      text-decoration: none;
    }
  }

}

.tabs-wrapper {
  .nav-tabs {
    .nav-item {
      border: 0;
      color: $primaryColor;
      background-color: #F5F7FA;
      -webkit-box-shadow: 0 2px 16px 0 rgba(176, 192, 237, 0.75);
      -moz-box-shadow: 0 2px 16px 0 rgba(176, 192, 237, 0.75);
      box-shadow: 0 2px 16px 0 rgba(176, 192, 237, 0.75);
      font-size: 1.2rem;
      font-weight: 500;
      margin-right: 0.5rem;
      letter-spacing: -0.03rem;
      line-height: 24px;
      border-radius: 12px 12px 0 0;

      &.active {
        z-index: 1;
        -webkit-box-shadow: 0 -8px 16px -5px rgba(176, 192, 237, 0.75);
        -moz-box-shadow: 0 -8px 16px -5px rgba(176, 192, 237, 0.75);
        box-shadow: 0 -8px 16px -5px rgba(176, 192, 237, 0.75);
        color: $primaryColor;
      }
    }
  }

  .tab-content {
    position: relative;
    padding: 1.5rem;
    box-shadow: 0 2px 32px 0 rgba(176, 192, 237, 0.5);
    background: #fff;
    color: $primaryColor;
    font-weight: 500;
    font-size: 1.125rem;
    min-height: 200px;
  }
}

.group-item {
  margin: 1rem;
  padding: 1rem 1.5rem;
  border-radius: 12px;
  background-color: $groupItemBgColor;
}


.border {
  &.border-hover {
    &:hover {
      background-color: $hoverBg;
    }
  }
}

.card {
  -webkit-box-shadow: 0 2px 32px 1px rgba(176, 192, 237, 0.42);
  -moz-box-shadow: 0 2px 32px 1px rgba(176, 192, 237, 0.42);
  box-shadow: 0 2px 32px 1px rgba(176, 192, 237, 0.42);
  border-radius: 12px !important;
  border: 1px solid #F6F5F5;
  background-color: #FFFFFF;

  .card-header {
    &:first-child {
      background-color: $contentBgColor;
      border-radius: calc(0.85rem - 1px) calc(.85rem - 1px) 0 0;
      border-bottom: none;
    }
  }
}

.property-radio {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  cursor: pointer;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &.is-invalid {
      ~ label {
        border: 1px solid $invalidFormColor !important;
      }
    }

    & ~ label {
      background-color: #FFFFFF;
      border: 2px solid transparent;
      -webkit-box-shadow: 0 0 14px 0 rgba(176, 192, 237, 0.75);
      -moz-box-shadow: 0 0 14px 0 rgba(176, 192, 237, 0.75);
      box-shadow: 0 0 14px 0 rgba(176, 192, 237, 0.75);
      border-radius: 12px;
      padding: 10px 20px;
    }

    &:checked {
      ~ label {
        border: 2px solid $primaryColor;
      }
    }
  }

  label {
    top: 0;
    left: 0;
    background-color: #eee;
  }
}

.property-checkbox {
  margin-top: 0.5rem;
  border: 1px solid $primaryColor;
  margin-bottom: 0.5rem;
  cursor: pointer;
  background: #fff;
  padding: 0.4em !important;

  input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;

    &:before {
      color: $primaryColor;
      font: 15pt fontello;
      content: '\f096';
      display: inline-block;
      padding: 0 5px;
      width: 25px;
    }

    + label {
      cursor: pointer;
      width: 100%;
      padding-right: 0.6em;
      font-size: 1rem;
    }

    &:checked {
      &:before {
        font: 15pt fontello;
        display: inline-block;
        padding: 0 5px;
        content: '\e800';
      }
    }
  }

}