$sidebarColor: #4f5258;
$sidebarActiveLink: #FF8E00;
$contentBgColor: #F5F7FA;
$navbarHeight: 65px;
$borderColor: rgba(0,0,0,.125);

/** buttons **/
$primaryButtonColor: #121958;
$primaryColor: #121958;
$hoverBg: #D8E0F6;
$activeColor: #FF8E00;

/** forms **/
$groupItemBgColor: #F5F7FA;
$invalidFormColor: #FE021F;